<template name="relationships">
    <h2 class="ui header">
        <div class="content">Relationships
            <a href="{{pathFor 'relationshipSubmit'}}">
                <i class="green plus icon"></i>
            </a>
        </div>
    </h2>

    <div class="ui relaxed list">
        {{#each relationships}}
        <div class="item">
            <div class="content">
                <a href="{{pathFor 'relationship'}}" class="header">{{name}}</a>
                {{#each addresses}}
                    {{#if isDefault addressType}}
                        <table class="ui very basic two column table" id="relationshipstable">
                            <tbody>
                                <tr>
                                    <td>
                                        {{address1}}<br>
                                        {{zip}} - {{city}}<br>
                                        {{country}}
                                    </td>
                                    <td>
                                        {{contacts.[0].name}}<br>
                                        {{#if contacts.[0].email}}
                                            <a href="mailto:{{contacts.[0].email}}">
                                                <i class="blue outline mail icon"></i>
                                            </a>
                                        {{/if}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    {{/if}}
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>
</template>