<template name="login">
    <div>
        <div class="uk-cover-background">
            <ul class="uk-slideshow" data-uk-slideshow="{autoplay:true}">
                <li><img src="/images/slide1.jpg" alt=""></li>
                <li><img src="/images/slide2.jpg" alt=""></li>
                <li><img src="/images/slide3.jpg" alt=""></li>
            </ul>

            <div class="uk-position-cover uk-flex uk-flex-right uk-flex-middle uk-flex-space-around">
                <div></div>
                <div>
                    <form class="uk-panel uk-panel-box uk-form">
                        <h2>movingWine</h2>
                        <div class="uk-form-row">
                            <input class="uk-width-1-1 uk-form-large" type="text" placeholder="Username">
                        </div>
                        <div class="uk-form-row">
                            <input class="uk-width-1-1 uk-form-large" type="text" placeholder="Password">
                        </div>
                        <div class="uk-form-row">
                            <a class="uk-width-1-1 uk-button uk-button-primary uk-button-large" href="#">Login</a>
                        </div>
                        <div class="uk-form-row uk-text-small">
                            <label class="uk-float-left"><input type="checkbox"> Remember Me</label>
                            <a class="uk-float-right uk-link uk-link-muted" href="#">Forgot Password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>